{{!< default}}
<div class="col-md-12 about-page">
					<article class="about-page-title">
						<h3>About Me</h3>
					</article>
					<article class="about-page-main">
						<div class="col-md-5 about-page-main-img">
							<div class="about-img-logo">
								<img src="{{@blog.logo}}">
							</div>
							<div class="about-img-icon">
								<a href=""><i class="iconfont icon-github1"></i></a>
								<a href=""><i class="iconfont icon-weibo1"></i></a>
								<a href=""><i class="iconfont icon-tieba1"></i></a>
								<a href=""><i class="iconfont icon-zhihu"></i></a>
								<a href=""><i class="iconfont icon-weixin"></i></a></a>
								<a href=""><i class="iconfont icon-youku"></i></a>
								<a href=""><i class="iconfont icon-youxiang1"></i></a>
							</div>
						</div>
						<div class="col-md-7 about-page-main-text">
							<h3>About me</h3>
							<hr>
							<p>Here is your introduction.</p>
						</div>
					</article>
					<article class="about-page-other">
						<h3>Skill</h3>
						<hr>
						<!-- 1 -->
						HTML:
						<div class="progress">
							<div class="progress-bar progress-bar-color-one progress-bar-striped active" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width: 90%">
							90%
								<span class="sr-only">40% Complete (success)</span>
							</div>
						</div>
						<!-- 2 -->
						CSS:
						<div class="progress">
							<div class="progress-bar progress-bar-color-two progress-bar-striped active" role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100" style="width: 85%">
							85%
								<span class="sr-only">85% Complete (success)</span>
							</div>
						</div>
						<!-- 3 -->
						JavaScript:
						<div class="progress">
							<div class="progress-bar progress-bar-color-three progress-bar-striped active" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
							40%
								<span class="sr-only">40% Complete (success)</span>
							</div>
						</div>
						<!-- 4 -->
						Python:
						<div class="progress">
							<div class="progress-bar progress-bar-color-five progress-bar-striped active" role="progressbar" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100" style="width: 10%">
							10%
								<span class="sr-only">10% Complete (success)</span>
							</div>
						</div>
						<!-- 5 -->
						PHP:
						<div class="progress">
							<div class="progress-bar progress-bar-color-four progress-bar-striped active" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 20%">
							20%
								<span class="sr-only">20% Complete (success)</span>
							</div>
						</div>
						<!-- 6 -->
						Linux:
						<div class="progress">
							<div class="progress-bar progress-bar-color-seven progress-bar-striped active" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%">
							75%
								<span class="sr-only">75% Complete (success)</span>
							</div>
						</div>
						<!-- 7 -->
						MySql:
						<div class="progress">
							<div class="progress-bar progress-bar-color-six progress-bar-striped active" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: 50%">
							50%
								<span class="sr-only">50% Complete (success)</span>
							</div>
						</div>						
					</article>
				</div>