@import url(bootstrap.min.css);
/*back-top strat*/
#back-btn{
	width: 50px;
	height: 50px;
	background: url(../images/top0.png) no-repeat left top;
	position: fixed;
	right: 35px;
	/*margin-left: 90%;*/
	bottom: 30px;
	display: none;
	-webkit-transition:none;
	-moz-transition:none;
	-ms-transition:none;
	-o-transition:none;
}
#back-btn:hover{
	background: url(../images/top0.png) no-repeat left bottom;  
}
/*icon strat*/
@font-face {font-family: "iconfont";
  src: url('../fonts/iconfont.eot?t=1471794865'); /* IE9*/
  src: url('../fonts/iconfont.eot?t=1471794865#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/iconfont.woff?t=1471794865') format('woff'), /* chrome, firefox */
  url('../fonts/iconfont.ttf?t=1471794865') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('../fonts/iconfont.svg?t=1471794865#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  /*font-size:16px;*/
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
.icon-tupian:before { content: "\e600"; }
.icon-weixin:before { content: "\e601"; }
.icon-erweima:before { content: "\e602"; }
.icon-shezhi:before { content: "\e603"; }
.icon-shouye:before { content: "\e604"; }
.icon-xiazai:before { content: "\e605"; }
.icon-QQ:before { content: "\e606"; }
.icon-facebook:before { content: "\e607"; }
.icon-google:before { content: "\e608"; }
.icon-youtube:before { content: "\e609"; }
.icon-shijian:before { content: "\e60a"; }
.icon-txweibo:before { content: "\e60b"; }
.icon-erweima1:before { content: "\e60c"; }
.icon-weibo:before { content: "\e60d"; }
.icon-yinle:before { content: "\e60e"; }
.icon-youxiang:before { content: "\e60f"; }
.icon-youxiang1:before { content: "\e610"; }
.icon-music:before { content: "\e611"; }
.icon-fenxiang1:before { content: "\e612"; }
.icon-ordinarydownload:before { content: "\e613"; }
.icon-shijian1:before { content: "\e614"; }
.icon-tiananmen:before { content: "\e615"; }
.icon-weibo1:before { content: "\e616"; }
.icon-caifutong:before { content: "\e617"; }
.icon-windows:before { content: "\e618"; }
.icon-youxiang2:before { content: "\e619"; }
.icon-txwb2:before { content: "\e61a"; }
.icon-guanzhu:before { content: "\e61b"; }
.icon-yanse:before { content: "\e61c"; }
.icon-icon:before { content: "\e61d"; }
.icon-fenxiang:before { content: "\e61e"; }
.icon-goumai:before { content: "\e61f"; }
.icon-coding:before { content: "\e620"; }
.icon-shu:before { content: "\e621"; }
.icon-jian:before { content: "\e622"; }
.icon-baidu:before { content: "\e623"; }
.icon-upan:before { content: "\e624"; }
.icon-yingpan:before { content: "\e625"; }
.icon-play:before { content: "\e626"; }
.icon-shezhi1:before { content: "\e627"; }
.icon-taobao:before { content: "\e628"; }
.icon-lianxi:before { content: "\e629"; }
.icon-baiduyunpan:before { content: "\e62a"; }
.icon-video:before { content: "\e62b"; }
.icon-iconfontyonghu:before { content: "\e62c"; }
.icon-fenxiang1:before { content: "\e62d"; }
.icon-dianzan:before { content: "\e62e"; }
.icon-zhongduan:before { content: "\e62f"; }
.icon-pen:before { content: "\e630"; }
.icon-linux:before { content: "\e631"; }
.icon-zhantie:before { content: "\e632"; }
.icon-link:before { content: "\e633"; }
.icon-python:before { content: "\e634"; }
.icon-wordpress:before { content: "\e635"; }
.icon-youtube1:before { content: "\e636"; }
.icon-youtube2:before { content: "\e637"; }
.icon-link1:before { content: "\e638"; }
.icon-weimendian:before { content: "\e639"; }
.icon-fujianchengxu:before { content: "\e63a"; }
.icon-wrench:before { content: "\e63b"; }
.icon-douban:before { content: "\e63c"; }
.icon-play1:before { content: "\e63d"; }
.icon-link1:before { content: "\e63e"; }
.icon-msnui-cut:before { content: "\e63f"; }
.icon-tupian1:before { content: "\e640"; }
.icon-fenxiang2:before { content: "\e641"; }
.icon-shouye1:before { content: "\e642"; }
.icon-weixin1:before { content: "\e643"; }
.icon-tudoushipin:before { content: "\e644"; }
.icon-youku01:before { content: "\e645"; }
.icon-nodejs:before { content: "\e646"; }
.icon-nodejs1:before { content: "\e647"; }
.icon-qqkongjian:before { content: "\e648"; }
.icon-guanzhu1:before { content: "\e649"; }
.icon-xinyongqia:before { content: "\e64a"; }
.icon-guanzhu2:before { content: "\e64b"; }
.icon-socialjavascript:before { content: "\e64c"; }
.icon-zhongguoditu:before { content: "\e64d"; }
.icon-github:before { content: "\e64e"; }
.icon-icon2:before { content: "\e64f"; }
.icon-steam:before { content: "\e650"; }
.icon-biaoqian:before { content: "\e651"; }
.icon-daodiaozhongduan:before { content: "\e652"; }
.icon-biaoqian1:before { content: "\e653"; }
.icon-nginx:before { content: "\e654"; }
.icon-apache:before { content: "\e655"; }
.icon-mysql:before { content: "\e656"; }
.icon-video1:before { content: "\e657"; }
.icon-fuwuqi:before { content: "\e658"; }
.icon-fuzhihuihua:before { content: "\e659"; }
.icon-steam1:before { content: "\e65a"; }
.icon-linuxdebian:before { content: "\e65b"; }
.icon-linuxkeyring:before { content: "\e65c"; }
.icon-linuxmint:before { content: "\e65d"; }
.icon-linuxredflag:before { content: "\e65e"; }
.icon-linuxredhat:before { content: "\e65f"; }
.icon-linuxsuse:before { content: "\e660"; }
.icon-linuxubuntu:before { content: "\e661"; }
.icon-linuxcentos:before { content: "\e662"; }
.icon-linuxarch:before { content: "\e663"; }
.icon-linuxdeepin:before { content: "\e664"; }
.icon-linuxoracle:before { content: "\e665"; }
.icon-xiangmu:before { content: "\e666"; }
.icon-logo:before { content: "\e667"; }
.icon-guanzhu3:before { content: "\e668"; }
.icon-youxiang3:before { content: "\e669"; }
.icon-weibiaoti1:before { content: "\e66a"; }
.icon-weibiaoti8:before { content: "\e66b"; }
.icon-weibiaoti9:before { content: "\e66c"; }
.icon-qq:before { content: "\e66d"; }
.icon-google2015logo:before { content: "\e66e"; }
.icon-biaoqian2:before { content: "\e66f"; }
.icon-guanyu:before { content: "\e670"; }
.icon-shenfenzheng:before { content: "\e671"; }
.icon-neirong:before { content: "\e672"; }
.icon-guanyu1:before { content: "\e673"; }
.icon-lianxi1:before { content: "\e674"; }
.icon-github1:before { content: "\e675"; }
.icon-weixian:before { content: "\e676"; }
.icon-jianpan:before { content: "\e677"; }
.icon-google1:before { content: "\e678"; }
.icon-github2:before { content: "\e679"; }
.icon-qqkongjian1:before { content: "\e67a"; }
.icon-xiangmu1:before { content: "\e67b"; }
.icon-yunzhuji:before { content: "\e67c"; }
.icon-dashujujiankongpingtai11:before { content: "\e67d"; }
.icon-xiangzuoxiangyou-copy:before { content: "\e67e"; }
.icon-xianshiqi:before { content: "\e67f"; }
.icon-mnav:before { content: "\e680"; }
.icon-biaoqing:before { content: "\e69f"; }
.icon-caidan:before { content: "\e681"; }
.icon-mysql1:before { content: "\e682"; }
.icon-nginx1:before { content: "\e683"; }
.icon-baiduyun:before { content: "\e684"; }
.icon-weixian1:before { content: "\e685"; }
.icon-aite:before { content: "\e686"; }
.icon-html-copy:before { content: "\e687"; }
.icon-xianshiqi1:before { content: "\e688"; }
.icon-daohang:before { content: "\e689"; }
.icon-yinxingqia:before { content: "\e68a"; }
.icon-daima:before { content: "\e68b"; }
.icon-zhihu:before { content: "\e68c"; }
.icon-shubiao:before { content: "\e68d"; }
.icon-daohang1:before { content: "\e68e"; }
.icon-zhifubao-copy-copy-copy:before { content: "\e68f"; }
.icon-yuanchuang:before { content: "\e690"; }
.icon-yuedu:before { content: "\e691"; }
.icon-php:before { content: "\e692"; }
.icon-css3logo:before { content: "\e693"; }
.icon-neirong1:before { content: "\e694"; }
.icon-lingying:before { content: "\e695"; }
.icon-suiji:before { content: "\e696"; }
.icon-dns-16:before { content: "\e697"; }
.icon-shu1:before { content: "\e698"; }
.icon-youxiang4:before { content: "\e699"; }
.icon-wendang:before { content: "\e69a"; }
.icon-zhifubao:before { content: "\e69b"; }
.icon-lingying1:before { content: "\e69c"; }
.icon-nodejs2:before { content: "\e69d"; }
.icon-sd:before { content: "\e69e"; }
.icon-banquan-copy-copy:before { content: "\e6a0"; }
.icon-play2:before { content: "\e6a1"; }
.icon-xiangshang:before { content: "\e6a2"; }
.icon-windows1:before { content: "\e6a3"; }
.icon-tuitetwitter43:before { content: "\e6a4"; }
.icon-icon3:before { content: "\e6a5"; }
.icon-phpkaifa:before { content: "\e6a6"; }
.icon-shouye-copy:before { content: "\e6a7"; }
.icon-douban1:before { content: "\e6a8"; }
.icon-guangpanline:before { content: "\e6a9"; }
.icon-guangpansolid:before { content: "\e6aa"; }
.icon-daohang2:before { content: "\e6ab"; }
.icon-xiangshang1:before { content: "\e6ac"; }
.icon-kaiyuanzhongguoshequ:before { content: "\e6ad"; }
.icon-tudou:before { content: "\e6ae"; }
.icon-aiqiyi:before { content: "\e6af"; }
.icon-meiguoguoqi:before { content: "\e6b0"; }
.icon-wangyiyun:before { content: "\e6b1"; }
.icon-lianxi2:before { content: "\e6b2"; }
.icon-yuyanc:before { content: "\e6b3"; }
.icon-tieba:before { content: "\e6b4"; }
.icon-zhihu1:before { content: "\e6b5"; }
.icon-biaoti11:before { content: "\e6b6"; }
.icon-daohang3:before { content: "\e6b7"; }
.icon-five-star-flag:before { content: "\e6b8"; }
.icon-youku:before { content: "\e6b9"; }
.icon-wangzhan:before { content: "\e6ba"; }
.icon-daohang4:before { content: "\e6bb"; }
.icon-bankcard:before { content: "\e6bc"; }
.icon-anquan:before { content: "\e6bd"; }
.icon-facebook-copy:before { content: "\e6be"; }
.icon-1-copy:before { content: "\e6bf"; }
.icon-caidan1:before { content: "\e6c0"; }
.icon-biaoqing1:before { content: "\e6ce"; }
.icon-jianqiewenjian:before { content: "\e6c1"; }
.icon-yunfuwuqi:before { content: "\e6c2"; }
.icon-biaoti:before { content: "\e6c3"; }
.icon-biaoqing2:before { content: "\e6cf"; }
.icon-gt:before { content: "\e6c4"; }
.icon-mysql2:before { content: "\e6c5"; }
.icon-order-one:before { content: "\e6c6"; }
.icon-weidian:before { content: "\e6c7"; }
.icon-daima1:before { content: "\e6c8"; }
.icon-13zuozhe:before { content: "\e6c9"; }
.icon-aliyun01:before { content: "\e6ca"; }
.icon-tuite:before { content: "\e6cb"; }
.icon-tieba1:before { content: "\e6cc"; }
.icon-dianzan-copy:before { content: "\e6cd"; }
/*icon end*/
@font-face{
	font-family: cuyabra;
	src: url('../fonts/cuyabra.otf');
}
*{
	padding: 0;
	margin: 0;
}
body{
	background: url(../images/body_bg.png);
	background-repeat: round;
	background-attachment: fixed;
	padding-top: 90px;
	font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
}
a,
i,
.tags{
	text-decoration: none;
	color: #255;
	-webkit-transition: all .6s;
	-moz-transition: all .6s;
	-ms-transition: all .6s;
	-o-transition: all .6s;
}
a:hover{
	text-decoration: none;
}
hr{
	margin: 0 auto 10px auto;
	color: #255;
}
.navbar-default{
	background: #fff;
	border: 0;
	box-shadow: 0 2px 10px 0 rgba(0,0,0,.16);
	-webkit-box-shadow: 0 2px 10px 0 rgba(0,0,0,.16);
	-moz-box-shadow: 0 2px 10px 0 rgba(0,0,0,.16);
	-ms-box-shadow: 0 2px 10px 0 rgba(0,0,0,.16);
	-o-box-shadow: 0 2px 10px 0 rgba(0,0,0,.16);
}
.navbar-header span{
	font-size: 24px;
}
.navbar-bg{
	margin: 0 30px;
}
.navbar-brand{
	padding: 0;
	margin: 4px;
	height: 43px;
	display: inline-block;
	border-radius: 180px;
	overflow: hidden;
}
.navbar-brand>img{
	width: auto;
	height:100%;
}
.navbar-brand2{
	padding: 0;
	margin: 0;
	font-size: 22px;
	line-height: 50px;
	color: #739898;
}
.navbar-brand2:hover{
	color: #8AA2E9;
}
.navbar-default .navbar-nav>li>a{
	color: #302a31;
}
.navbar-default .navbar-nav>li>a:hover{
	color: #39b587;
}
.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:focus, 
.navbar-default .navbar-nav>.active>a:hover {
	color: #39b587;
	font-weight: bold;
	background-color: #fff;
}
.navbar-toggle{
	padding: 0;
}
.icon-caidan3{
	font-size: 22px;
}
.navbar-default .navbar-toggle {
	border: 0;
	color: #a8b1a8;
}
.navbar-default .navbar-toggle:focus, 
.navbar-default .navbar-toggle:hover{
	color: #78a9f3;
	border: 0;
	background: rgba(0,0,0,0);
}
.index-post h1, h2, h3, h4{
	margin: 0 auto 6px auto;
	color: #ccc;
}
.index-post-block a{
	text-decoration: none;
	color: #b1a3a3;
	font-size: 20px;
	font-weight: bold;
}
.index-post a:hover{
	color: #96b2e4;
}
.index-post-author{
	margin-bottom: 5px;
}
.index-post-author,
.index-post-author>a{
	font-size: 13px;
}
.index-post-demo{
	margin-bottom: 5px;
	color: #5d5454;
}
.index-post-date{
	margin: 0;
	color: #bb6969;
}
.index-post-block{
	background-color: #fff;
	padding: 20px;
	margin-bottom: 30px;
	border-radius: 2px;
	box-shadow: 0 2px 10px 0 rgba(0,0,0,.1);
	-webkit-box-shadow: 0 2px 10px 0 rgba(0,0,0,.1);
	-moz-box-shadow: 0 2px 10px 0 rgba(0,0,0,.1);
	-ms-box-shadow: 0 2px 10px 0 rgba(0,0,0,.1);
	-o-box-shadow: 0 2px 10px 0 rgba(0,0,0,.1);
}
.paging{
	margin-top: 40px;
}
.paging .paging-up,
.paging .paging-text,
.paging .paging-down{
	float: left;
	background-color: #fff;
	border-radius: 2px;
	box-shadow: 0 2px 10px 0 rgba(0,0,0,.1);
	-webkit-box-shadow: 0 2px 10px 0 rgba(0,0,0,.1);
	-moz-box-shadow: 0 2px 10px 0 rgba(0,0,0,.1);
	-ms-box-shadow: 0 2px 10px 0 rgba(0,0,0,.1);
	-o-box-shadow: 0 2px 10px 0 rgba(0,0,0,.1);
}
.paging .paging-text,
.paging .paging-down{
	margin-left: 15px;
}
.paging-text{
	padding: 10px;
	color: #ef7484;
	font-weight: bold;
}
.paging-up>a,
.paging-down>a,
.paging-up>span,
.paging-down>span{
	display: block;
	padding: 10px;
	color: #b5cef5;
	font-weight: bold;
}
.paging .paging-up a:hover,
.paging .paging-down a:hover,{
	background-color: #a4d9f3;
	color: #fff;
}
.index-sidebar{
	background-color: #fff;
	padding: 20px;
	/*padding: 10px 20px 20px 20px;*/
	margin-bottom: 15px;
	border-radius: 2px;
	box-shadow: 0 2px 10px 0 rgba(0,0,0,.1);
	-webkit-box-shadow: 0 2px 10px 0 rgba(0,0,0,.1);
	-moz-box-shadow: 0 2px 10px 0 rgba(0,0,0,.1);
	-ms-box-shadow: 0 2px 10px 0 rgba(0,0,0,.1);
	-o-box-shadow: 0 2px 10px 0 rgba(0,0,0,.1);
}
.index-sidebar>h3{
	color: #b1a3a3;
	font-weight: bold;
	text-align: left;
}
/*sidebar strat*/
.sidebar-about{
	font-size: 18px;
	color: #9fb39a;
	text-align: center;
}
.sidebar-about .sidebar-about-logo{
	width: 100px;
	min-width: 100px;
	height: auto;
	border: 1px solid #255;
	border-radius: 180px;
	margin: 3px auto;
	overflow: hidden;
}
.sidebar-about-logo>img{
	width: 100%;
	height: 100%;

}
.sidebar-social-cintact a>i,
.sidebar-follow a>i{
	font-size: 30px;
	color: #b1a3a3;
	margin: 0 5px;
	padding-left: 6px;
	-webkit-transition: all .6s;
	-moz-transition: all .6s;
	-ms-transition: all .6s;
	-o-transition: all .6s;
}
.sidebar-social-cintact a>i:hover,
.sidebar-follow a>i:hover{
	color: #255;
}
.sidebar-link ul{
	margin: 0;
	list-style: none;
}
.sidebar-link ul>li{
	margin: 8px;
}
.sidebar-link a,
.sidebar-link a>i{
	font-size: 18px;
	color: #ab9090;
	padding-left: 6px;
}
.sidebar-link a:hover,
.sidebar-link a>i:hover{
	color: #255;
}
.footer-info{
	text-align: center;
	font-size: 15px;
	color: #555;
	background-color: #fff;
	padding: 15px;
	margin:20px auto;
	border-radius: 2px;
	box-shadow: 0 2px 10px 0 rgba(0,0,0,.1);
	-webkit-box-shadow: 0 2px 10px 0 rgba(0,0,0,.1);
	-moz-box-shadow: 0 2px 10px 0 rgba(0,0,0,.1);
	-ms-box-shadow: 0 2px 10px 0 rgba(0,0,0,.1);
	-o-box-shadow: 0 2px 10px 0 rgba(0,0,0,.1);
}
.footer-info>a{
	color: #ab9090;	
}
.footer-info>a:hover{
	color: #88a1d0;
}
.sidebar-title{
	/*padding: 5px;
	margin: 0;*/
	/*border: 1px solid black;*/
	/*background-color: #ccc;*/
}
/*tag style*/
.tags{
	display: inline;
	padding: 5px;
	font-size: 15px;
	font-weight: 500;
	line-height: 2.5;
	color: #fff;
	text-align: center;
	white-space: nowrap;
	vertical-align: baseline;
	border-radius: .3em;
	background: #b1a3a3;
	margin: 3px;
}
.tags:hover{
	color: #b1a3a3;
	background: #e8e8e8;
	border-radius: .6em;
}
/*sidebar hidde*/
@media (max-width: 990px) {
	.index-sidebar{
		display: none;
	}
}
/*Post page style start*/
/*public style strat*/
.about-page-title,
.about-page-main,
.about-page-other,
.post-page-main,
.post-page-share,
.post-page-readmore{
	background-color: #fff;
	padding: 20px 35px;
	margin-bottom: 30px;
	overflow: hidden;
	border-radius: 2px;
	box-shadow: 0 2px 10px 0 rgba(0,0,0,.1);
	-webkit-box-shadow: 0 2px 10px 0 rgba(0,0,0,.1);
	-moz-box-shadow: 0 2px 10px 0 rgba(0,0,0,.1);
	-ms-box-shadow: 0 2px 10px 0 rgba(0,0,0,.1);
	-o-box-shadow: 0 2px 10px 0 rgba(0,0,0,.1);
}
.post-page-main p{
	font-size: 16px;
}
/*post page strat*/
.post-page-share>h3{
	font-weight: bold;
	text-align: left;
}
.post-page-header{
	background-color: #fff;
	padding: 12px;
	margin-bottom: 15px;
	text-align: center;
	border-radius: 2px;
	box-shadow: 0 2px 10px 0 rgba(0,0,0,.1);
	-webkit-box-shadow: 0 2px 10px 0 rgba(0,0,0,.1);
	-moz-box-shadow: 0 2px 10px 0 rgba(0,0,0,.1);
	-ms-box-shadow: 0 2px 10px 0 rgba(0,0,0,.1);
	-o-box-shadow: 0 2px 10px 0 rgba(0,0,0,.1);
}
.post-page-main img{
	display: block;
	width: 95%;
	max-width: 95%;
	height: auto;
	margin: 15px auto;
	box-shadow: 0 2px 10px 0 rgba(0,0,0,.1);
	-webkit-box-shadow: 0 2px 10px 0 rgba(0,0,0,.1);
	-moz-box-shadow: 0 2px 10px 0 rgba(0,0,0,.1);
	-ms-box-shadow: 0 2px 10px 0 rgba(0,0,0,.1);
	-o-box-shadow: 0 2px 10px 0 rgba(0,0,0,.1);
}
.post-page-main-time{
	float: right;
}
.post-page-share{
	text-align: center;
}
.post-page-share>a>i{
	font-size: 35px;
	color: #888;
	margin: 0 10px;
}
.post-page-share>a>i:hover{
	color: #ccc;
}
.post-page-readmore>p{
	font-size: 18px;
	color: #8a8080;
	margin-top: 15px;
	margin-bottom: 0;
}
.post-page-readmore>p>a{
	color: #d45e44;
}
.post-page-readmore>p>a:hover{
	color: #bbb8e4;
}
/*about page strat*/
.about-page h3{
	font-weight: bold;
	/*text-align: center;*/
}
.about-page p{
	color: #255;
	font-size: 18px;
}
.about-page-main-img,
.about-page-main-text{
	text-align: center;
	padding: 5px;
}
.about-img-logo{
	width: 180px;
	height: 180px;
	border-radius: 180px;
	border: 1px solid #ccc;
	/*padding: 1px;*/
	border-width: 2px;
	margin: 10px auto;
}
.about-img-logo>img{
	width:100% ;
	height: 100%;
}
.about-img-icon>a>i{
	font-size: 25px;
	color: #a28585;
	margin: 2px 5px;
}
.about-img-icon>a>i:hover{
	color: #72a9d8;
}
/*progress bar strat*/
.progress-bar{
	-webkit-box-shadow: none;
	box-shadow:  none;
}
.progress-bar-color-one{
	background-color: #94d3ff;
}
.progress-bar-color-two{
	background-color: #f56666;
}
.progress-bar-color-three{
	background-color: #73b740;
}
.progress-bar-color-four{
	background-color: #7563d8;
}
.progress-bar-color-five{
	background-color: #4ab8bd;
}
.progress-bar-color-six{
	background-color: #524521;
}
.progress-bar-color-seven{
	background-color: #d1d1d1;
}
